@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom global styles */
body {
  margin: 0;
  padding: 0;
  @apply bg-gray-100 text-gray-800;
}

@media only screen and (orientation: portrait) {
  body {
      .shrink {
          width: 95%;
      }
  }
}

@media only screen and (orientation: landscape) {
  body {
      .shrink {
          width: 90%;
      }
  }
}

.center {
  text-align: left;
  margin: 0 auto;
}

/* Hide scrollbar while allowing scrolling */
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Edge */
}
.scrollbar-hide {
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
  scrollbar-width: none; /* For Firefox */
}

.glow-charcoal {
  text-shadow: 0 0 12px #000000,
    /* First layer: Medium-sized glow */ 0 0 24px #000000,
    /* Second layer: Larger glow */ 0 0 36px #1f2937,
    /* Third layer: Even larger glow */ 0 0 48px #1f2937; /* Fourth layer: Most diffuse glow */
}

.text-glow-charcoal {
  text-shadow: 0 0 20px #000000,
    /* First layer: Medium-sized glow */ 0 0 40px #000000,
    /* Second layer: Larger glow */ 0 0 60px #000000,
    /* Third layer: Even larger glow */ 0 0 80px #000000; /* Charcoal glow */
}

.text-container-success {
  background: rgba(31, 41, 55, 0.9); /* Charcoal background with opacity */
  color: #4caf50; /* Success green */
  padding: 12px;
  border-radius: 8px;
  text-shadow: none; /* Remove any shadow */
}

.text-container-error {
  background: rgba(31, 41, 55, 0.9); /* Charcoal background with opacity */
  color: #f44336; /* Error red */
  padding: 12px;
  border-radius: 8px;
  text-shadow: none; /* Remove any shadow */
}