@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom global styles */
body {
  margin: 0;
  padding: 0;
  @apply bg-gray-100 text-gray-800;
}

@media only screen and (orientation: portrait) {
  body {
      .shrink {
          width: 95%;
      }
  }
}

@media only screen and (orientation: landscape) {
  body {
      .shrink {
          width: 90%;
      }
  }
}

.center {
  text-align: left;
  margin: 0 auto;
}

/* Hide scrollbar while allowing scrolling */
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Edge */
}
.scrollbar-hide {
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
  scrollbar-width: none; /* For Firefox */
}

.glow-charcoal {
  text-shadow: 0 0 12px #000000,
    /* First layer: Medium-sized glow */ 0 0 24px #000000,
    /* Second layer: Larger glow */ 0 0 36px #1f2937,
    /* Third layer: Even larger glow */ 0 0 48px #1f2937; /* Fourth layer: Most diffuse glow */
}

.text-glow-charcoal {
  text-shadow: 0 0 20px #000000,
    /* First layer: Medium-sized glow */ 0 0 40px #000000,
    /* Second layer: Larger glow */ 0 0 60px #000000,
    /* Third layer: Even larger glow */ 0 0 80px #000000; /* Charcoal glow */
}

.text-container-success {
  background: rgba(31, 41, 55, 0.9); /* Charcoal background with opacity */
  color: #4caf50; /* Success green */
  padding: 12px;
  border-radius: 8px;
  text-shadow: none; /* Remove any shadow */
}

.text-container-error {
  background: rgba(31, 41, 55, 0.9); /* Charcoal background with opacity */
  color: #f44336; /* Error red */
  padding: 12px;
  border-radius: 8px;
  text-shadow: none; /* Remove any shadow */
}

/* Common input styles */
.input-amber {
  @apply border border-amber-500 rounded-lg px-4 py-2 my-2 w-full bg-gray-900 text-white placeholder-gray-400 focus:ring-2 focus:ring-amber-500 focus:outline-none;
  box-shadow: 0 0 10px 2px rgba(255, 191, 0, 0.5);
}

.input-amber-select {
  @apply border border-amber-500 rounded-lg px-3 py-2 my-2 w-64 bg-gray-900 text-white focus:ring-2 focus:ring-amber-500 focus:outline-none;
  box-shadow: 0 0 10px 2px rgba(255, 191, 0, 0.5);
}

/* Common card styles */
.card-amber {
  @apply border border-amber-500 p-4 rounded-lg bg-gray-900;
  box-shadow: 0 0 10px 2px rgba(255, 191, 0, 0.5);
}

.card-section {
  @apply w-full border border-amber-500 rounded-lg px-4 py-2 my-4 bg-gray-900 text-white;
  box-shadow: 0 0 10px 2px rgba(255, 191, 0, 0.5);
}