:root {
  --background: #f8f8ff;
  --overlay-color: rgba(0, 0, 0, 0.5);
  --text-color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background);
  display: grid;
  place-items: center;
  height: 100vh;
}

.gallery {
  display: flex;
  gap: 1rem;
  max-width: 80rem;
}

.card {
  position: relative;
  left: 0;
  width: 6rem;
  border-radius: 1.2rem;
  height: 20rem;
  overflow: hidden;
  background-color: var(--background);
  transition: 0.4s ease-in-out;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.3);
  flex: 0.25;
}

.card img {
  position: relative;
  height: 20rem;
  object-fit: cover;
}

.card:hover {
  flex: 2;
  font-weight: bold;
  cursor: pointer;
  border-radius: 1rem;
}

.card figcaption {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0.5rem;
  background-color: var(--overlay-color);
  color: var(--text-color);
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 0 0 1.2rem 1.2rem;
}
