<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Select a Bottle</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/style.css" />
  </head>
  <body>
    <header>
      <h1>Select A Bottle</h1>
    </header>
    <div class="gallery">
      <figure class="card" onclick="selectBottle(0)">
        <img src="static/images/lakeview-elegance.png" alt="Bottle 1" />
        <figcaption>Bottle 1</figcaption>
      </figure>
      <figure class="card" onclick="selectBottle(1)">
        <img src="static/images/skyline-oasis.png" alt="Bottle 2" />
        <figcaption>Bottle 2</figcaption>
      </figure>
      <figure class="card" onclick="selectBottle(2)">
        <img src="static/images/villa-verde.png" alt="Bottle 3" />
        <figcaption>Bottle 3</figcaption>
      </figure>
      <figure class="card" onclick="selectBottle(3)">
        <img src="static/images/vista-paradiso.png" alt="Bottle 4" />
        <figcaption>Bottle 4</figcaption>
      </figure>
      <figure class="card" onclick="selectBottle(4)">
        <img src="static/images/lakeview-elegance.png" alt="Bottle 5" />
        <figcaption>Bottle 5</figcaption>
      </figure>
      <figure class="card" onclick="selectBottle(5)">
        <img src="static/images/skyline-oasis.png" alt="Bottle 6" />
        <figcaption>Bottle 6</figcaption>
      </figure>
      <figure class="card" onclick="selectBottle(6)">
        <img src="static/images/villa-verde.png" alt="Bottle 7" />
        <figcaption>Bottle 7</figcaption>
      </figure>
      <figure class="card" onclick="selectBottle(7)">
        <img src="static/images/vista-paradiso.png" alt="Bottle 8" />
        <figcaption>Bottle 8</figcaption>
      </figure>
    </div>
    <div id="message"></div>
    <!-- New div element to display the message -->
    <script>
      async function selectBottle(id) {
        const response = await fetch("/select_bottle", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({ id }),
        });
        const data = await response.json();
        document.getElementById("message").innerText = data.message; // Update the content of the message div
      }
    </script>
  </body>
</html>
